/* Fonts */
@font-face {
    font-family: 'Roboto Light';
    src: url('assets/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Regular';
    src: url('assets/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('assets/Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Italics';
    src: url('assets/Roboto/Roboto-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Regular';
    src: url('assets/Raleway/static/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Bold';
    src: url('assets/Raleway/static/Raleway-SemiBold.ttf') format('truetype');
}

/* Site styling */
#site-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    float: none;
}

/* Navigation bar styling */
.header-links{
    margin-top: 20px;
    font-size: 1.3rem;
    font-family: 'Raleway Regular', serif;
    font-weight: 100;

    display: flex;
    justify-content: center;
}

.link{
    color: black;
    display: inline;
    position: relative;
    overflow: hidden;
    margin-left: 20px;
}

.active-link {
    color: black;
    display: inline;
    position: relative;
    overflow: hidden;
    margin-left: 20px;
    font-weight: 100;
    font-family: 'Raleway Bold', serif;
}

a{
    text-decoration: none;
}

hr {
    border: none;      
    height: 2px;     
    background-color: #7f7f7f;
    margin-left: 400px;
    margin-right: 400px;

}

/* Font & Text styling */
.roboto-bold{
    font-family: 'Roboto Bold', serif;
}

.roboto-italics{
    font-family: 'Roboto Italics', serif;
}

.text-black{
    color: black;
}

.right-align{
    text-align: right;
}

.left-align{
    text-align: left;
}

.center-align{
    display: flex;
    align-items: center;
}

/* Project Header styling */
.project-header{
    text-align: center;

    h2{
        font-size: 2.0rem;
        font-family: 'Raleway Bold', serif;
        margin-bottom: 10px;
    }
    p{
        font-size: 1.0rem;
        font-family: 'Roboto Regular', serif;
        color: #7f7f7f;
        margin-top: 5px;
    }
}

.project-section{
    h3{
        font-size: 1.6rem;
        font-family: 'Raleway Bold', serif;
        margin-bottom: 10px;
    }
    p{
        font-size: 1.1rem;
        font-family: 'Roboto Regular', serif;
        color: #6c6c6c;
        margin-top: 5px;
        line-height: 1.75;
    }
    a{
        color: blue;
    }
}

ol{
    font-size: 1.1rem;
    font-family: 'Roboto Regular', serif;
    color: #6c6c6c;
    line-height: 1.75;
}

.text_box_middle{
    margin: 100px;
    margin-top: 20px;

    p{
        font-family: 'Roboto Italics', serif;
    }
}

/* Imaging styling */
.largestImageSpecification{
    width: 100%;
    height: auto;
    margin-bottom: 11px;
}

.largeImageSpecification{
    width: 90%;
    height: auto;
    margin-bottom: 11px;
}

.standardImageSpecification{
    width: 80%;
    height: auto;
    margin-bottom: 11px;
}

.mediumImageSpecification{
    width: 70%;
    height: auto;
    margin-bottom: 11px;
}

.largeSmallImageSpecification{
    width: 55%;
    height: auto;
}

.smallerImageSpecification{
    width: 50%;
    height: auto;
}

.midSmallImageSpecification{
    width: 40%;
    height: auto;
}

.smallestImageSpecification{
    width: 30%;
    height: auto;
}

.tinyImageSpecifcation{
    width: 25%;
    height: 80%;
    margin-left: 57px;
}

.image-border{
    border: 2px solid black;
    border-radius: 10px;
}

.vertical-images{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parallel_images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.parallel_images_left_align{
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Alignment styling */
.parallel_content{
    display: flex;
    flex-direction: row;
}

.align_spacing{
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        margin-right: 100px;
        margin-left: 200px;
        font-family: 'Roboto Italics', serif;
    }
}

.align_spacing_flipped{
    display: flex;
    justify-content: space-between;
    align-items: center;

    p{
        margin-right: 200px;
        margin-left: 100px;
        font-family: 'Roboto Italics', serif;
    }
}

.center-align{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Margin styling */
.extra-top-margin{
    margin-top: 50px;;
}

.smaller-left-margin{
    margin-left:-80px;
}

.personas-left-margin{
    margin-left: 100px;
}

.larger-left-margin{
    margin-left: 350px;
}
.largest-left-margin{
    margin-left: 450px;
}

.larger-right-margin{
    margin-right: 475px;
}

.no-bottom-margin{
    margin-bottom: 0px;
}
.smaller-bottom-margin{
    margin-bottom: 10px;
}
.medium-bottom-margin{
    margin-bottom: 50px;
}
.larger-bottom-margin{
    margin-bottom: 125px;
}

/* Arrow styling */
.left-arrow{
    display: flex;
    justify-content: left;
}
.right-arrow{
    display: flex;
    justify-content: right;
}

/* Library styling */
.website-library{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.website-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3px;
}

.website-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-wrap: break-word;
    width: 585px;
    height: 350px;
    color: black;
    font-size: 0.9rem;
    
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;

    a{
        margin-top: 0px;
        font-size: 0.7rem;
        font-family: 'Roboto Regular', serif;
        color: blue;
    }
    h2{
        margin-top: 5px;
        font-size: 0.9rem;
        font-family: 'Roboto Regular', serif;
        color: #7f7f7f;
        margin-bottom: 5px;
    }
}

.website-image{
    width: 100%;
    height: 90%;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}