/* Fonts */
@font-face {
    font-family: 'Roboto Light';
    src: url('assets/Roboto/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Regular';
    src: url('assets/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('assets/Roboto/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Regular';
    src: url('assets/Raleway/static/Raleway-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Raleway Bold';
    src: url('assets/Raleway/static/Raleway-SemiBold.ttf') format('truetype');
}


/* Site styling */
#site-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    float: none;
}

/* Navigation bar styling */
.header-links{
    margin-top: 20px;
    font-size: 1.3rem;
    font-family: 'Raleway Regular', serif;
    font-weight: 100;

    display: flex;
    justify-content: center;
}

.link{
    color: black;
    display: inline;
    position: relative;
    overflow: hidden;
    margin-left: 20px;
}

.active-link {
    color: black;
    display: inline;
    position: relative;
    overflow: hidden;
    margin-left: 20px;
    font-weight: 100;
    font-family: 'Raleway Bold', serif;
}

a{
    text-decoration: none;
}

hr {
    border: none;      
    height: 2px;     
    background-color: #7f7f7f;
    margin-left: 400px;
    margin-right: 400px;

}